*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.box{
  width: calc(65vw / 7);
  height: calc(65vw / 7);
  border: 2px solid black;
  border-radius: 1vh;
  margin: 0.25vh;
  cursor: pointer;
}

.boxes{
  margin: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button{
  width: 10.5vw;
  height: 7vh;
  border: 2px solid black;
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(186, 41, 41);
}

.animate{
  animation: animate 4s forwards;
}

@keyframes animate {
  0%{
    cursor: default;
    z-index: 200;
  }
  25%{
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(41, 186, 41);
    cursor: default;
    font-size: 10vw;
    z-index: 200;
  }
  75%{
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(41, 186, 41);
    cursor: default;
    font-size: 10vw;
    z-index: 200;
  }
  100%{
    cursor: default;
    z-index: 200;
  }
}

.progress{
  width: 10.5vw;
  height: 7vh;
  border: 2px solid black;
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(41, 186, 41);
  cursor: default;
  position: absolute;
  top: 5vh;
  right: 13vh;
}

.history{
  z-index: 2;
  width: 50vw;
  height: 90vh;
  border: 3px solid rgb(41, 99, 186);
  border-radius: 2vh;
  background-color: rgb(119, 122, 224);
  position: absolute;
  right: 25vw;
  display: flex; 
  justify-content: center;
  overflow-y: auto;
}

.monthgrid{
  position: absolute;
  left: 0;
  top: 12vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1.5vh;
}

.popup{
  animation: popup forwards 1s ease-in-out;
}

.popdown{
  animation: popdown forwards 1s ease-in-out;
}

@keyframes popup {
  0% {transform: translateY(100vh);}
  100% {transform: translateY(0vh);}
}

@keyframes popdown {
  0% {transform: translateY(0vh);}
  100% {transform: translateY(100vh);}
}

.historynav{
  font-size: 30px;
  font-weight: 800;
  padding: 3vh;
  background-color: rgb(41, 99, 186);
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 25;
}

.keymonth{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 24.25vw;
  margin: 1.5vh 0.375vw 0vh 0.375vw;
  height: 20vh;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(41, 99, 186);
  border-radius: 1vh;
  cursor: pointer;
}

.monthdiv{
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 215, 215);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  color: black;
}